version: '3.8'

services:
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"

  PostgreSQL:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ministreaming
    volumes:
      - postgres-data:/var/lib/postgresql/data

  Redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
  rabbitmq:
      image: rabbitmq:3.13-management
      container_name: ministreaming-rabbit
      restart: always


      ports:
        - "5672:5672"   
        - "15672:15672"   

      environment:
        RABBITMQ_DEFAULT_USER: admin
        RABBITMQ_DEFAULT_PASS: admin123
volumes:
  minio-data:
  postgres-data:
  redis-data:
  rabbitmq_data:


  